<a href="https://colab.research.google.com/github/SaahilShaikh17/AAIT-Retirement/blob/main/AAIT_Retirement_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TEAM AAIT-Retirement Savings Estimator
Team members:
Saahil Shaikh, Sachit Desai, Sanjana Sharma, Sehaj Saluja

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [10]:
df=pd.read_csv("https://raw.githubusercontent.com/SaahilShaikh17/AAIT-Retirement/main/nedgroup_training_data.csv")
df_validation=pd.read_csv("https://raw.githubusercontent.com/SaahilShaikh17/AAIT-Retirement/main/nedgroup_validation_data.csv")
df_test=pd.read_csv("https://raw.githubusercontent.com/SaahilShaikh17/AAIT-Retirement/main/nedgroup_testing_data.csv")

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
df.head()

,Unnamed: 0,GENDER,RETIREMENT_AGE,RETIREMENT_FUND_VALUE,DEPT_VALUE,CURRENT_NET_MONTHLY_INCOME,SPARE_CASH_VALUE,FINANCIALLY_SUPPORT_PARTNER,FINANCIALLY_SUPPORT_CHILDREN,YEARS_SUPPORTING_CHILD,CHILD_MONTHLY_SUPPORTING_VALUE,YEARS_SUPPORTING_SOMEONE_ELSE,OTHER_MONTHLY_SUPPORTING_VALUE,HAS_EMERGENCY_SAVINGS,CRITICAL_ILLNESS,ONGOING_COACHING_FEE,CONFIDENCE_LEVEL,INITIAL_PLANNER_FEE_INCL_VAT_UT,INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP,ONGOING_PLANNER_FEE_INCL_VAT_UT,ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP,TARGET_MONTHLY_INCOME,SPOUSE_GENDER,SPOUSE_RETIREMENT_AGE,SPOUSE_DATE_OF_BIRTH,PERCENTAGE_SUCCESS,SA_EQUITY_UNIT_TRUST,SA_BOND_UNIT_TRUST,SA_CASH_UNIT_TRUST,INTERNATIONAL_EQUITY_UNIT_TRUST,INTERNATIONAL_BOND_UNIT_TRUST,INTERNATIONAL_CASH_UNIT_TRUST,SA_EQUITY_LAP,SA_BOND_LAP,SA_CASH_LAP,INTERNATIONAL_EQUITY_LAP,INTERNATIONAL_BOND_LAP,INTERNATIONAL_CASH_LAP,LAP_EAC_PA_INCL_VAT,LA_EAC_PA_INCL_VAT,UNIT_TRUST_EAC_PA_INCL_VAT
0,1,Female,74,9019817,108988,207,248324,No,No,0,0,4,4412,Yes,Yes,1.086355,65,1.126188,3.994553,0.814560,1.070482,51996,NaN,NaN,NaN,81.984898,0.0,0.0,1.0,90.00,0.00,9.00,36.75,19.75,16.0,18.85,6.9,1.75,1.220000,1.220000,1.220000
1,5,Female,71,5194248,51928,2013,164644,Yes,Yes,4,4900,2,3382,No,Yes,1.298466,75,3.193294,2.696367,0.615908,2.027214,58303,Male,73.0,1949-01-14,17.274052,0.0,0.0,1.0,59.40,29.70,9.90,24.60,34.40,16.0,17.60,4.4,3.00,1.220000,1.220000,1.220000
2,9,Female,70,6796815,41684,3047,240103,No,No,0,0,3,2753,Yes,Yes,2.245625,65,0.911502,4.271558,1.872700,0.445151,49510,NaN,NaN,NaN,41.897959,0.0,0.0,1.0,71.28,22.77,4.95,49.00,15.00,6.0,23.00,6.0,1.00,2.945625,2.945625,2.785625
3,10,Female,78,7238811,147184,1725,20071,No,No,0,0,3,2975,No,Yes,1.396051,75,0.087226,2.354137,0.101542,0.976643,52031,NaN,NaN,NaN,84.565598,0.0,0.0,100.0,0.00,0.00,0.00,49.00,15.00,6.0,23.00,6.0,1.00,0.336955,0.336955,0.350264
4,12,Male,87,6173619,229014,2261,82670,Yes,Yes,3,294,2,771,No,Yes,0.802640,75,1.387036,2.537295,1.842370,1.320476,57515,Female,61.0,1961-01-20,92.297376,24.5,24.5,26.0,14.70,7.80,2.50,0.00,0.00,1.0,98.00,0.0,1.00,1.460000,1.460000,1.460000

In [13]:
df.shape

(23944, 41)

In [14]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df_validation.drop('Unnamed: 0',axis=1,inplace=True)
df_test.drop('Unnamed: 0',axis=1,inplace=True)

In [15]:
df.head()

,GENDER,RETIREMENT_AGE,RETIREMENT_FUND_VALUE,DEPT_VALUE,CURRENT_NET_MONTHLY_INCOME,SPARE_CASH_VALUE,FINANCIALLY_SUPPORT_PARTNER,FINANCIALLY_SUPPORT_CHILDREN,YEARS_SUPPORTING_CHILD,CHILD_MONTHLY_SUPPORTING_VALUE,YEARS_SUPPORTING_SOMEONE_ELSE,OTHER_MONTHLY_SUPPORTING_VALUE,HAS_EMERGENCY_SAVINGS,CRITICAL_ILLNESS,ONGOING_COACHING_FEE,CONFIDENCE_LEVEL,INITIAL_PLANNER_FEE_INCL_VAT_UT,INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP,ONGOING_PLANNER_FEE_INCL_VAT_UT,ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP,TARGET_MONTHLY_INCOME,SPOUSE_GENDER,SPOUSE_RETIREMENT_AGE,SPOUSE_DATE_OF_BIRTH,PERCENTAGE_SUCCESS,SA_EQUITY_UNIT_TRUST,SA_BOND_UNIT_TRUST,SA_CASH_UNIT_TRUST,INTERNATIONAL_EQUITY_UNIT_TRUST,INTERNATIONAL_BOND_UNIT_TRUST,INTERNATIONAL_CASH_UNIT_TRUST,SA_EQUITY_LAP,SA_BOND_LAP,SA_CASH_LAP,INTERNATIONAL_EQUITY_LAP,INTERNATIONAL_BOND_LAP,INTERNATIONAL_CASH_LAP,LAP_EAC_PA_INCL_VAT,LA_EAC_PA_INCL_VAT,UNIT_TRUST_EAC_PA_INCL_VAT
0,Female,74,9019817,108988,207,248324,No,No,0,0,4,4412,Yes,Yes,1.086355,65,1.126188,3.994553,0.814560,1.070482,51996,NaN,NaN,NaN,81.984898,0.0,0.0,1.0,90.00,0.00,9.00,36.75,19.75,16.0,18.85,6.9,1.75,1.220000,1.220000,1.220000
1,Female,71,5194248,51928,2013,164644,Yes,Yes,4,4900,2,3382,No,Yes,1.298466,75,3.193294,2.696367,0.615908,2.027214,58303,Male,73.0,1949-01-14,17.274052,0.0,0.0,1.0,59.40,29.70,9.90,24.60,34.40,16.0,17.60,4.4,3.00,1.220000,1.220000,1.220000
2,Female,70,6796815,41684,3047,240103,No,No,0,0,3,2753,Yes,Yes,2.245625,65,0.911502,4.271558,1.872700,0.445151,49510,NaN,NaN,NaN,41.897959,0.0,0.0,1.0,71.28,22.77,4.95,49.00,15.00,6.0,23.00,6.0,1.00,2.945625,2.945625,2.785625
3,Female,78,7238811,147184,1725,20071,No,No,0,0,3,2975,No,Yes,1.396051,75,0.087226,2.354137,0.101542,0.976643,52031,NaN,NaN,NaN,84.565598,0.0,0.0,100.0,0.00,0.00,0.00,49.00,15.00,6.0,23.00,6.0,1.00,0.336955,0.336955,0.350264
4,Male,87,6173619,229014,2261,82670,Yes,Yes,3,294,2,771,No,Yes,0.802640,75,1.387036,2.537295,1.842370,1.320476,57515,Female,61.0,1961-01-20,92.297376,24.5,24.5,26.0,14.70,7.80,2.50,0.00,0.00,1.0,98.00,0.0,1.00,1.460000,1.460000,1.460000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23944 entries, 0 to 23943
Data columns (total 40 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   GENDER                                   23944 non-null  object
 1   RETIREMENT_AGE                           23944 non-null  int64
 2   RETIREMENT_FUND_VALUE                    23944 non-null  int64
 3   DEPT_VALUE                               23944 non-null  int64
 4   CURRENT_NET_MONTHLY_INCOME               23944 non-null  int64
 5   SPARE_CASH_VALUE                         23944 non-null  int64
 6   FINANCIALLY_SUPPORT_PARTNER              23944 non-null  object
 7   FINANCIALLY_SUPPORT_CHILDREN             23944 non-null  object
 8   YEARS_SUPPORTING_CHILD                   23944 non-null  int64
 9   CHILD_MONTHLY_SUPPORTING_VALUE           23944 non-null  int64
 10  YEARS_SUPPORTING_SOMEONE_ELSE            23944 non-null  int64
 11  OTHER_MONTHLY_SUPPORTING_VALUE           23944 non-null  int64
 12  HAS_EMERGENCY_SAVINGS                    23944 non-null  object
 13  CRITICAL_ILLNESS                         23944 non-null  object
 14  ONGOING_COACHING_FEE                     23944 non-null  float64
 15  CONFIDENCE_LEVEL                         23944 non-null  int64
 16  INITIAL_PLANNER_FEE_INCL_VAT_UT          23944 non-null  float64
 17  INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP  23944 non-null  float64
 18  ONGOING_PLANNER_FEE_INCL_VAT_UT          23944 non-null  float64
 19  ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP  23944 non-null  float64
 20  TARGET_MONTHLY_INCOME                    23944 non-null  int64
 21  SPOUSE_GENDER                            12527 non-null  object
 22  SPOUSE_RETIREMENT_AGE                    12527 non-null  float64
 23  SPOUSE_DATE_OF_BIRTH                     12527 non-null  object
 24  PERCENTAGE_SUCCESS                       23944 non-null  float64
 25  SA_EQUITY_UNIT_TRUST                     23944 non-null  float64
 26  SA_BOND_UNIT_TRUST                       23944 non-null  float64
 27  SA_CASH_UNIT_TRUST                       23944 non-null  float64
 28  INTERNATIONAL_EQUITY_UNIT_TRUST          23944 non-null  float64
 29  INTERNATIONAL_BOND_UNIT_TRUST            23944 non-null  float64
 30  INTERNATIONAL_CASH_UNIT_TRUST            23944 non-null  float64
 31  SA_EQUITY_LAP                            23944 non-null  float64
 32  SA_BOND_LAP                              23944 non-null  float64
 33  SA_CASH_LAP                              23944 non-null  float64
 34  INTERNATIONAL_EQUITY_LAP                 23944 non-null  float64
 35  INTERNATIONAL_BOND_LAP                   23944 non-null  float64
 36  INTERNATIONAL_CASH_LAP                   23944 non-null  float64
 37  LAP_EAC_PA_INCL_VAT                      23944 non-null  float64
 38  LA_EAC_PA_INCL_VAT                       23944 non-null  float64
 39  UNIT_TRUST_EAC_PA_INCL_VAT               23944 non-null  float64
dtypes: float64(22), int64(11), object(7)
memory usage: 7.3+ MB

In [17]:
df.describe()

,RETIREMENT_AGE,RETIREMENT_FUND_VALUE,DEPT_VALUE,CURRENT_NET_MONTHLY_INCOME,SPARE_CASH_VALUE,YEARS_SUPPORTING_CHILD,CHILD_MONTHLY_SUPPORTING_VALUE,YEARS_SUPPORTING_SOMEONE_ELSE,OTHER_MONTHLY_SUPPORTING_VALUE,ONGOING_COACHING_FEE,CONFIDENCE_LEVEL,INITIAL_PLANNER_FEE_INCL_VAT_UT,INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP,ONGOING_PLANNER_FEE_INCL_VAT_UT,ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP,TARGET_MONTHLY_INCOME,SPOUSE_RETIREMENT_AGE,PERCENTAGE_SUCCESS,SA_EQUITY_UNIT_TRUST,SA_BOND_UNIT_TRUST,SA_CASH_UNIT_TRUST,INTERNATIONAL_EQUITY_UNIT_TRUST,INTERNATIONAL_BOND_UNIT_TRUST,INTERNATIONAL_CASH_UNIT_TRUST,SA_EQUITY_LAP,SA_BOND_LAP,SA_CASH_LAP,INTERNATIONAL_EQUITY_LAP,INTERNATIONAL_BOND_LAP,INTERNATIONAL_CASH_LAP,LAP_EAC_PA_INCL_VAT,LA_EAC_PA_INCL_VAT,UNIT_TRUST_EAC_PA_INCL_VAT
count,23944.000000,2.394400e+04,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,12527.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000,23944.000000
mean,74.733503,7.374449e+06,123220.997954,3797.233086,124126.916346,1.265244,1252.694788,2.025601,2008.880471,1.151578,69.992065,2.491711,2.498026,1.164087,1.143563,45583.626086,79.931907,59.240941,23.028384,16.725293,19.386744,31.274592,6.932963,2.652024,22.009206,16.874416,20.445863,31.109067,6.910361,2.651087,1.795251,1.795251,1.740949
std,10.352636,3.868508e+06,72175.658095,2166.978695,71892.254230,1.478019,1601.701228,1.414410,1628.818355,0.663169,5.000098,1.452104,1.453807,0.663344,0.666496,17484.859155,11.745549,30.295274,19.040871,12.860659,20.653974,22.129145,5.723333,2.075729,18.575175,13.129172,21.716695,22.593260,5.695212,2.065113,0.990233,0.990233,0.974344
min,60.000000,5.001570e+05,32.000000,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000251,65.000000,0.000338,0.000585,0.000134,0.000057,1552.000000,60.000000,2.002915,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,66.000000,4.106004e+06,60446.000000,1943.750000,62286.750000,0.000000,0.000000,1.000000,362.000000,0.580646,65.000000,1.223616,1.226065,0.588757,0.566041,33035.000000,70.000000,33.038321,6.750000,10.075000,6.000000,18.850000,4.000000,1.500000,3.000000,11.510000,6.000000,18.240000,4.000000,1.500000,0.935803,0.935803,0.912500
50%,73.000000,6.941902e+06,123097.000000,3789.000000,122169.000000,1.000000,66.000000,2.000000,1875.000000,1.154529,65.000000,2.474093,2.479888,1.172331,1.125075,46457.000000,80.000000,64.605021,24.500000,16.375000,15.500000,25.500000,6.600000,2.480000,22.845000,15.000000,16.000000,25.500000,6.600000,2.480000,1.730972,1.730972,1.675423
75%,82.000000,1.052333e+07,185062.000000,5693.000000,186600.000000,3.000000,2487.250000,3.000000,3436.000000,1.728732,75.000000,3.757610,3.767856,1.747497,1.725680,58533.000000,90.000000,88.045599,36.750000,19.850000,26.000000,39.075000,7.800000,3.185000,31.400000,20.835000,26.000000,41.456000,7.907000,3.185000,2.569211,2.569211,2.499012
max,100.000000,1.499862e+07,249988.000000,7499.000000,249956.000000,4.000000,4998.000000,4.000000,4999.000000,2.299975,75.000000,4.999218,5.000000,2.299840,2.299795,85731.000000,100.000000,97.998071,78.900000,63.000000,100.000000,98.000000,29.700000,9.900000,78.900000,63.000000,100.000000,98.000000,29.700000,9.900000,4.613422,4.613422,4.588735

In [18]:
df.isnull().sum()

GENDER                                         0
RETIREMENT_AGE                                 0
RETIREMENT_FUND_VALUE                          0
DEPT_VALUE                                     0
CURRENT_NET_MONTHLY_INCOME                     0
SPARE_CASH_VALUE                               0
FINANCIALLY_SUPPORT_PARTNER                    0
FINANCIALLY_SUPPORT_CHILDREN                   0
YEARS_SUPPORTING_CHILD                         0
CHILD_MONTHLY_SUPPORTING_VALUE                 0
YEARS_SUPPORTING_SOMEONE_ELSE                  0
OTHER_MONTHLY_SUPPORTING_VALUE                 0
HAS_EMERGENCY_SAVINGS                          0
CRITICAL_ILLNESS                               0
ONGOING_COACHING_FEE                           0
CONFIDENCE_LEVEL                               0
INITIAL_PLANNER_FEE_INCL_VAT_UT                0
INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP        0
ONGOING_PLANNER_FEE_INCL_VAT_UT                0
ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP        0
TARGET_MONTHLY_INCOME                          0
SPOUSE_GENDER                              11417
SPOUSE_RETIREMENT_AGE                      11417
SPOUSE_DATE_OF_BIRTH                       11417
PERCENTAGE_SUCCESS                             0
SA_EQUITY_UNIT_TRUST                           0
SA_BOND_UNIT_TRUST                             0
SA_CASH_UNIT_TRUST                             0
INTERNATIONAL_EQUITY_UNIT_TRUST                0
INTERNATIONAL_BOND_UNIT_TRUST                  0
INTERNATIONAL_CASH_UNIT_TRUST                  0
SA_EQUITY_LAP                                  0
SA_BOND_LAP                                    0
SA_CASH_LAP                                    0
INTERNATIONAL_EQUITY_LAP                       0
INTERNATIONAL_BOND_LAP                         0
INTERNATIONAL_CASH_LAP                         0
LAP_EAC_PA_INCL_VAT                            0
LA_EAC_PA_INCL_VAT                             0
UNIT_TRUST_EAC_PA_INCL_VAT                     0
dtype: int64

In [19]:
df.nunique()

GENDER                                         2
RETIREMENT_AGE                                41
RETIREMENT_FUND_VALUE                      15196
DEPT_VALUE                                 14752
CURRENT_NET_MONTHLY_INCOME                  6478
SPARE_CASH_VALUE                           14779
FINANCIALLY_SUPPORT_PARTNER                    2
FINANCIALLY_SUPPORT_CHILDREN                   2
YEARS_SUPPORTING_CHILD                         5
CHILD_MONTHLY_SUPPORTING_VALUE              3924
YEARS_SUPPORTING_SOMEONE_ELSE                  5
OTHER_MONTHLY_SUPPORTING_VALUE              4578
HAS_EMERGENCY_SAVINGS                          2
CRITICAL_ILLNESS                               2
ONGOING_COACHING_FEE                       15233
CONFIDENCE_LEVEL                               2
INITIAL_PLANNER_FEE_INCL_VAT_UT            15232
INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP    15248
ONGOING_PLANNER_FEE_INCL_VAT_UT            15226
ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP    15224
TARGET_MONTHLY_INCOME                      13566
SPOUSE_GENDER                                  2
SPOUSE_RETIREMENT_AGE                         41
SPOUSE_DATE_OF_BIRTH                         326
PERCENTAGE_SUCCESS                         14445
SA_EQUITY_UNIT_TRUST                          29
SA_BOND_UNIT_TRUST                            29
SA_CASH_UNIT_TRUST                            34
INTERNATIONAL_EQUITY_UNIT_TRUST               34
INTERNATIONAL_BOND_UNIT_TRUST                 34
INTERNATIONAL_CASH_UNIT_TRUST                 28
SA_EQUITY_LAP                                 29
SA_BOND_LAP                                   29
SA_CASH_LAP                                   34
INTERNATIONAL_EQUITY_LAP                      34
INTERNATIONAL_BOND_LAP                        34
INTERNATIONAL_CASH_LAP                        28
LAP_EAC_PA_INCL_VAT                        10530
LA_EAC_PA_INCL_VAT                         10530
UNIT_TRUST_EAC_PA_INCL_VAT                 10534
dtype: int64

Gender, Financially Support Partner, financially support children, years_supporting_child, Years_supporting_Someone_else, Has_emergency_savings, Confidence_Level, spouse_Gender

So we have 8 categorical variables

## Data Issues

In [20]:
#Check if there are any duplicated values in our dataset
print(df.duplicated().sum())
print(df_validation.duplicated().sum())
print(df_test.duplicated().sum())

7861
2502
0

In [21]:
df.drop_duplicates(inplace=True)
df_validation.drop_duplicates(inplace=True)

In [22]:

print(df.duplicated().sum())
print(df_validation.duplicated().sum())
print(df_test.duplicated().sum())

0
0
0

## EDA


# Data Preprocessing

<h2>Handling Missing Values</h2>

In [23]:
df.isnull().sum()

GENDER                                        0
RETIREMENT_AGE                                0
RETIREMENT_FUND_VALUE                         0
DEPT_VALUE                                    0
CURRENT_NET_MONTHLY_INCOME                    0
SPARE_CASH_VALUE                              0
FINANCIALLY_SUPPORT_PARTNER                   0
FINANCIALLY_SUPPORT_CHILDREN                  0
YEARS_SUPPORTING_CHILD                        0
CHILD_MONTHLY_SUPPORTING_VALUE                0
YEARS_SUPPORTING_SOMEONE_ELSE                 0
OTHER_MONTHLY_SUPPORTING_VALUE                0
HAS_EMERGENCY_SAVINGS                         0
CRITICAL_ILLNESS                              0
ONGOING_COACHING_FEE                          0
CONFIDENCE_LEVEL                              0
INITIAL_PLANNER_FEE_INCL_VAT_UT               0
INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP       0
ONGOING_PLANNER_FEE_INCL_VAT_UT               0
ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP       0
TARGET_MONTHLY_INCOME                         0
SPOUSE_GENDER                              7629
SPOUSE_RETIREMENT_AGE                      7629
SPOUSE_DATE_OF_BIRTH                       7629
PERCENTAGE_SUCCESS                            0
SA_EQUITY_UNIT_TRUST                          0
SA_BOND_UNIT_TRUST                            0
SA_CASH_UNIT_TRUST                            0
INTERNATIONAL_EQUITY_UNIT_TRUST               0
INTERNATIONAL_BOND_UNIT_TRUST                 0
INTERNATIONAL_CASH_UNIT_TRUST                 0
SA_EQUITY_LAP                                 0
SA_BOND_LAP                                   0
SA_CASH_LAP                                   0
INTERNATIONAL_EQUITY_LAP                      0
INTERNATIONAL_BOND_LAP                        0
INTERNATIONAL_CASH_LAP                        0
LAP_EAC_PA_INCL_VAT                           0
LA_EAC_PA_INCL_VAT                            0
UNIT_TRUST_EAC_PA_INCL_VAT                    0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16083 entries, 0 to 21580
Data columns (total 40 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   GENDER                                   16083 non-null  object
 1   RETIREMENT_AGE                           16083 non-null  int64
 2   RETIREMENT_FUND_VALUE                    16083 non-null  int64
 3   DEPT_VALUE                               16083 non-null  int64
 4   CURRENT_NET_MONTHLY_INCOME               16083 non-null  int64
 5   SPARE_CASH_VALUE                         16083 non-null  int64
 6   FINANCIALLY_SUPPORT_PARTNER              16083 non-null  object
 7   FINANCIALLY_SUPPORT_CHILDREN             16083 non-null  object
 8   YEARS_SUPPORTING_CHILD                   16083 non-null  int64
 9   CHILD_MONTHLY_SUPPORTING_VALUE           16083 non-null  int64
 10  YEARS_SUPPORTING_SOMEONE_ELSE            16083 non-null  int64
 11  OTHER_MONTHLY_SUPPORTING_VALUE           16083 non-null  int64
 12  HAS_EMERGENCY_SAVINGS                    16083 non-null  object
 13  CRITICAL_ILLNESS                         16083 non-null  object
 14  ONGOING_COACHING_FEE                     16083 non-null  float64
 15  CONFIDENCE_LEVEL                         16083 non-null  int64
 16  INITIAL_PLANNER_FEE_INCL_VAT_UT          16083 non-null  float64
 17  INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP  16083 non-null  float64
 18  ONGOING_PLANNER_FEE_INCL_VAT_UT          16083 non-null  float64
 19  ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP  16083 non-null  float64
 20  TARGET_MONTHLY_INCOME                    16083 non-null  int64
 21  SPOUSE_GENDER                            8454 non-null   object
 22  SPOUSE_RETIREMENT_AGE                    8454 non-null   float64
 23  SPOUSE_DATE_OF_BIRTH                     8454 non-null   object
 24  PERCENTAGE_SUCCESS                       16083 non-null  float64
 25  SA_EQUITY_UNIT_TRUST                     16083 non-null  float64
 26  SA_BOND_UNIT_TRUST                       16083 non-null  float64
 27  SA_CASH_UNIT_TRUST                       16083 non-null  float64
 28  INTERNATIONAL_EQUITY_UNIT_TRUST          16083 non-null  float64
 29  INTERNATIONAL_BOND_UNIT_TRUST            16083 non-null  float64
 30  INTERNATIONAL_CASH_UNIT_TRUST            16083 non-null  float64
 31  SA_EQUITY_LAP                            16083 non-null  float64
 32  SA_BOND_LAP                              16083 non-null  float64
 33  SA_CASH_LAP                              16083 non-null  float64
 34  INTERNATIONAL_EQUITY_LAP                 16083 non-null  float64
 35  INTERNATIONAL_BOND_LAP                   16083 non-null  float64
 36  INTERNATIONAL_CASH_LAP                   16083 non-null  float64
 37  LAP_EAC_PA_INCL_VAT                      16083 non-null  float64
 38  LA_EAC_PA_INCL_VAT                       16083 non-null  float64
 39  UNIT_TRUST_EAC_PA_INCL_VAT               16083 non-null  float64
dtypes: float64(22), int64(11), object(7)
memory usage: 5.0+ MB

In [25]:
# Replace missing values with 'NA' in SPOUSE_GENDER
df['SPOUSE_GENDER'].fillna('NA', inplace=True)
df_test['SPOUSE_GENDER'].fillna('NA', inplace=True)
df_validation['SPOUSE_GENDER'].fillna('NA', inplace=True)

# inserting 0 for null values in spouse retirement age
df['SPOUSE_RETIREMENT_AGE'] = df['SPOUSE_RETIREMENT_AGE'].fillna(0).astype('int64')
df_test['SPOUSE_RETIREMENT_AGE'] = df_test['SPOUSE_RETIREMENT_AGE'].fillna(0).astype('int64')
df_validation['SPOUSE_RETIREMENT_AGE'] = df_validation['SPOUSE_RETIREMENT_AGE'].fillna(0).astype('int64')

In [26]:
df['SPOUSE_RETIREMENT_AGE'].head(15)

0      0
1     73
2      0
3      0
4     61
5      0
6     88
7     84
8     69
9     76
10     0
11     0
12    86
13    60
14    88
Name: SPOUSE_RETIREMENT_AGE, dtype: int64

In [27]:
df[['SPOUSE_GENDER','SPOUSE_RETIREMENT_AGE','SPOUSE_DATE_OF_BIRTH']].isnull().sum()

SPOUSE_GENDER               0
SPOUSE_RETIREMENT_AGE       0
SPOUSE_DATE_OF_BIRTH     7629
dtype: int64

In [28]:
df['SPOUSE_DATE_OF_BIRTH'].head(15)

0            NaN
1     1949-01-14
2            NaN
3            NaN
4     1961-01-20
5            NaN
6     1934-01-15
7     1938-01-16
8     1953-01-19
9     1946-01-19
10           NaN
11           NaN
12    1936-01-14
13    1962-01-17
14    1934-01-19
Name: SPOUSE_DATE_OF_BIRTH, dtype: object

In [29]:
# Convert 'SPOUSE_DATE_OF_BIRTH' to pandas datetime format
df['SPOUSE_DATE_OF_BIRTH'] = pd.to_datetime(df['SPOUSE_DATE_OF_BIRTH'], errors='coerce')
df_test['SPOUSE_DATE_OF_BIRTH'] = pd.to_datetime(df_test['SPOUSE_DATE_OF_BIRTH'], errors='coerce')
df_validation['SPOUSE_DATE_OF_BIRTH'] = pd.to_datetime(df_validation['SPOUSE_DATE_OF_BIRTH'], errors='coerce')


# Display the DataFrame with the converted datetime column
df['SPOUSE_DATE_OF_BIRTH'].head(15)

0           NaT
1    1949-01-14
2           NaT
3           NaT
4    1961-01-20
5           NaT
6    1934-01-15
7    1938-01-16
8    1953-01-19
9    1946-01-19
10          NaT
11          NaT
12   1936-01-14
13   1962-01-17
14   1934-01-19
Name: SPOUSE_DATE_OF_BIRTH, dtype: datetime64[ns]

Converting all DOB to year of birth

In [30]:
df['SPOUSE_DATE_OF_BIRTH'] = df['SPOUSE_DATE_OF_BIRTH'].dt.year.astype('Int64')
df['SPOUSE_DATE_OF_BIRTH'].fillna(0, inplace=True)

df_test['SPOUSE_DATE_OF_BIRTH'] = df_test['SPOUSE_DATE_OF_BIRTH'].dt.year.astype('Int64')
df_test['SPOUSE_DATE_OF_BIRTH'].fillna(0, inplace=True)

df_validation['SPOUSE_DATE_OF_BIRTH'] = df_validation['SPOUSE_DATE_OF_BIRTH'].dt.year.astype('Int64')
df_validation['SPOUSE_DATE_OF_BIRTH'].fillna(0, inplace=True)

In [31]:
df['SPOUSE_DATE_OF_BIRTH'].head()

0       0
1    1949
2       0
3       0
4    1961
Name: SPOUSE_DATE_OF_BIRTH, dtype: Int64

In [32]:
df[['SPOUSE_GENDER','SPOUSE_RETIREMENT_AGE','SPOUSE_DATE_OF_BIRTH']].isnull().sum()

SPOUSE_GENDER            0
SPOUSE_RETIREMENT_AGE    0
SPOUSE_DATE_OF_BIRTH     0
dtype: int64

<h2>Standardisation</h2>

In [33]:
# Extract numerical columns for standardization
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit and transform the numerical columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])
df_test[numerical_columns] = scaler.fit_transform(df_test[numerical_columns])
df_validation[numerical_columns] = scaler.fit_transform(df_validation[numerical_columns])

In [34]:
objs = df.select_dtypes(include = "object").columns
print(objs)

Index(['GENDER', 'FINANCIALLY_SUPPORT_PARTNER', 'FINANCIALLY_SUPPORT_CHILDREN',
       'HAS_EMERGENCY_SAVINGS', 'CRITICAL_ILLNESS', 'SPOUSE_GENDER'],
      dtype='object')

over here-

GENDER and SPOUSE_GENDER should be one hot encoded and

FINANCIALLY_SUPPORT_PARTNER, FINANCIALLY_SUPPORT_CHILDREN, HAS_EMERGENCY_SAVINGS, HAS_EMERGENCY_SAVINGS, CRITICAL_ILLNESS and SPOUSE_DATE_OF_BIRTH should be label encoded

<h2>Encoding of categorical variables</h2>

In [35]:
# One-hot-encoding
df = pd.get_dummies(df, columns=['GENDER'])
df_validation = pd.get_dummies(df_validation, columns=['GENDER'])
df_test = pd.get_dummies(df_test, columns=['GENDER'])

In [36]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3420 entries, 0 to 3419
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   RETIREMENT_AGE                           3420 non-null   float64
 1   RETIREMENT_FUND_VALUE                    3420 non-null   float64
 2   DEPT_VALUE                               3420 non-null   float64
 3   CURRENT_NET_MONTHLY_INCOME               3420 non-null   float64
 4   SPARE_CASH_VALUE                         3420 non-null   float64
 5   FINANCIALLY_SUPPORT_PARTNER              3420 non-null   object
 6   FINANCIALLY_SUPPORT_CHILDREN             3420 non-null   object
 7   YEARS_SUPPORTING_CHILD                   3420 non-null   float64
 8   CHILD_MONTHLY_SUPPORTING_VALUE           3420 non-null   float64
 9   YEARS_SUPPORTING_SOMEONE_ELSE            3420 non-null   float64
 10  OTHER_MONTHLY_SUPPORTING_VALUE           3420 non-null   float64
 11  HAS_EMERGENCY_SAVINGS                    3420 non-null   object
 12  CRITICAL_ILLNESS                         3420 non-null   object
 13  ONGOING_COACHING_FEE                     3420 non-null   float64
 14  CONFIDENCE_LEVEL                         3420 non-null   float64
 15  INITIAL_PLANNER_FEE_INCL_VAT_UT          3420 non-null   float64
 16  INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP  3420 non-null   float64
 17  ONGOING_PLANNER_FEE_INCL_VAT_UT          3420 non-null   float64
 18  ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP  3420 non-null   float64
 19  TARGET_MONTHLY_INCOME                    3420 non-null   float64
 20  SPOUSE_GENDER                            3420 non-null   object
 21  SPOUSE_RETIREMENT_AGE                    3420 non-null   float64
 22  SPOUSE_DATE_OF_BIRTH                     3420 non-null   float64
 23  PERCENTAGE_SUCCESS                       3420 non-null   float64
 24  SA_EQUITY_UNIT_TRUST                     3420 non-null   float64
 25  SA_BOND_UNIT_TRUST                       3420 non-null   float64
 26  SA_CASH_UNIT_TRUST                       3420 non-null   float64
 27  INTERNATIONAL_EQUITY_UNIT_TRUST          3420 non-null   float64
 28  INTERNATIONAL_BOND_UNIT_TRUST            3420 non-null   float64
 29  INTERNATIONAL_CASH_UNIT_TRUST            3420 non-null   float64
 30  SA_EQUITY_LAP                            3420 non-null   float64
 31  SA_BOND_LAP                              3420 non-null   float64
 32  SA_CASH_LAP                              3420 non-null   float64
 33  INTERNATIONAL_EQUITY_LAP                 3420 non-null   float64
 34  INTERNATIONAL_BOND_LAP                   3420 non-null   float64
 35  INTERNATIONAL_CASH_LAP                   3420 non-null   float64
 36  LAP_EAC_PA_INCL_VAT                      3420 non-null   float64
 37  LA_EAC_PA_INCL_VAT                       3420 non-null   float64
 38  UNIT_TRUST_EAC_PA_INCL_VAT               3420 non-null   float64
 39  GENDER_Female                            3420 non-null   bool
 40  GENDER_Male                              3420 non-null   bool
dtypes: bool(2), float64(34), object(5)
memory usage: 1.0+ MB

In [37]:
# Label Encoding
encode = LabelEncoder()

for col in objs[1:]:
  df[col] = encode.fit_transform(df[col].astype(str))
  df_validation[col] = encode.fit_transform(df_validation[col].astype(str))
  df_test[col] = encode.fit_transform(df_test[col].astype(str))

df_test.head()

,RETIREMENT_AGE,RETIREMENT_FUND_VALUE,DEPT_VALUE,CURRENT_NET_MONTHLY_INCOME,SPARE_CASH_VALUE,FINANCIALLY_SUPPORT_PARTNER,FINANCIALLY_SUPPORT_CHILDREN,YEARS_SUPPORTING_CHILD,CHILD_MONTHLY_SUPPORTING_VALUE,YEARS_SUPPORTING_SOMEONE_ELSE,OTHER_MONTHLY_SUPPORTING_VALUE,HAS_EMERGENCY_SAVINGS,CRITICAL_ILLNESS,ONGOING_COACHING_FEE,CONFIDENCE_LEVEL,INITIAL_PLANNER_FEE_INCL_VAT_UT,INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP,ONGOING_PLANNER_FEE_INCL_VAT_UT,ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP,TARGET_MONTHLY_INCOME,SPOUSE_GENDER,SPOUSE_RETIREMENT_AGE,SPOUSE_DATE_OF_BIRTH,PERCENTAGE_SUCCESS,SA_EQUITY_UNIT_TRUST,SA_BOND_UNIT_TRUST,SA_CASH_UNIT_TRUST,INTERNATIONAL_EQUITY_UNIT_TRUST,INTERNATIONAL_BOND_UNIT_TRUST,INTERNATIONAL_CASH_UNIT_TRUST,SA_EQUITY_LAP,SA_BOND_LAP,SA_CASH_LAP,INTERNATIONAL_EQUITY_LAP,INTERNATIONAL_BOND_LAP,INTERNATIONAL_CASH_LAP,LAP_EAC_PA_INCL_VAT,LA_EAC_PA_INCL_VAT,UNIT_TRUST_EAC_PA_INCL_VAT,GENDER_Female,GENDER_Male
0,1.218273,0.509429,-0.360846,0.171290,-1.109351,0,0,-0.859585,-0.785624,1.367686,1.072513,1,0,-0.016888,-1.000585,-0.451349,1.405767,1.706420,-0.506497,1.586113,2,-1.009484,-1.031451,0.110741,0.297878,-0.014120,-0.348620,-0.064532,0.448897,0.249486,-0.394109,-0.074221,0.356199,0.107868,-0.195185,-0.246382,-0.826598,-0.826598,-0.858093,False,True
1,-0.132176,1.652165,0.299211,-1.178680,1.107884,0,0,-0.859585,-0.785624,1.367686,1.513278,1,1,1.000380,-1.000585,1.246239,-0.042548,0.165094,-0.694073,0.223495,2,-1.009484,-1.031451,1.663762,0.297878,-0.014120,-0.348620,-0.064532,0.448897,0.249486,-0.963058,0.491000,-0.191124,0.736969,-0.189072,-0.244461,0.926933,0.926933,0.935618,False,True
2,-1.392595,-1.226196,-1.610044,0.923356,1.288072,1,0,-0.859585,-0.785624,0.665044,-0.564093,1,0,-0.390903,-1.000585,0.705638,-1.137707,-1.326833,-0.160057,-1.938548,0,0.827192,0.974551,1.256458,0.216527,0.244833,-0.108115,-0.314100,0.326164,0.002819,0.338516,-0.073033,-0.390849,-0.027081,0.518986,0.285721,-0.576777,-0.576777,-0.578867,False,True
3,-1.302565,3.426192,1.287535,-0.580776,-1.565089,1,1,1.145722,1.275719,-0.037597,1.447619,1,1,1.053718,-1.000585,-0.843925,0.941735,-0.118433,0.419954,1.684098,1,0.631280,0.982794,0.051269,-0.135782,0.058458,-0.127355,0.219655,-0.055378,-0.089913,-0.394109,-0.074221,0.356199,0.107868,-0.195185,-0.246382,0.958208,0.958208,0.658437,True,False
4,0.408004,0.832777,-1.670878,-0.820687,1.677000,1,0,-0.859585,-0.785624,0.665044,0.987400,0,0,1.149403,0.999415,0.884134,-1.386456,-1.223269,-1.019970,-0.323949,0,1.096571,0.963218,1.457630,-0.198214,-0.462136,0.016948,0.409383,-0.008152,0.179009,0.040982,-0.017521,0.360039,-0.339540,0.067848,-0.352034,-0.550498,-0.550498,-0.265678,False,True

In [38]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3420 entries, 0 to 3419
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   RETIREMENT_AGE                           3420 non-null   float64
 1   RETIREMENT_FUND_VALUE                    3420 non-null   float64
 2   DEPT_VALUE                               3420 non-null   float64
 3   CURRENT_NET_MONTHLY_INCOME               3420 non-null   float64
 4   SPARE_CASH_VALUE                         3420 non-null   float64
 5   FINANCIALLY_SUPPORT_PARTNER              3420 non-null   int32
 6   FINANCIALLY_SUPPORT_CHILDREN             3420 non-null   int32
 7   YEARS_SUPPORTING_CHILD                   3420 non-null   float64
 8   CHILD_MONTHLY_SUPPORTING_VALUE           3420 non-null   float64
 9   YEARS_SUPPORTING_SOMEONE_ELSE            3420 non-null   float64
 10  OTHER_MONTHLY_SUPPORTING_VALUE           3420 non-null   float64
 11  HAS_EMERGENCY_SAVINGS                    3420 non-null   int32
 12  CRITICAL_ILLNESS                         3420 non-null   int32
 13  ONGOING_COACHING_FEE                     3420 non-null   float64
 14  CONFIDENCE_LEVEL                         3420 non-null   float64
 15  INITIAL_PLANNER_FEE_INCL_VAT_UT          3420 non-null   float64
 16  INITIAL_PLANNER_FEE_INCL_VAT_LA_AND_LAP  3420 non-null   float64
 17  ONGOING_PLANNER_FEE_INCL_VAT_UT          3420 non-null   float64
 18  ONGOING_PLANNER_FEE_INCL_VAT_LA_AND_LAP  3420 non-null   float64
 19  TARGET_MONTHLY_INCOME                    3420 non-null   float64
 20  SPOUSE_GENDER                            3420 non-null   int32
 21  SPOUSE_RETIREMENT_AGE                    3420 non-null   float64
 22  SPOUSE_DATE_OF_BIRTH                     3420 non-null   float64
 23  PERCENTAGE_SUCCESS                       3420 non-null   float64
 24  SA_EQUITY_UNIT_TRUST                     3420 non-null   float64
 25  SA_BOND_UNIT_TRUST                       3420 non-null   float64
 26  SA_CASH_UNIT_TRUST                       3420 non-null   float64
 27  INTERNATIONAL_EQUITY_UNIT_TRUST          3420 non-null   float64
 28  INTERNATIONAL_BOND_UNIT_TRUST            3420 non-null   float64
 29  INTERNATIONAL_CASH_UNIT_TRUST            3420 non-null   float64
 30  SA_EQUITY_LAP                            3420 non-null   float64
 31  SA_BOND_LAP                              3420 non-null   float64
 32  SA_CASH_LAP                              3420 non-null   float64
 33  INTERNATIONAL_EQUITY_LAP                 3420 non-null   float64
 34  INTERNATIONAL_BOND_LAP                   3420 non-null   float64
 35  INTERNATIONAL_CASH_LAP                   3420 non-null   float64
 36  LAP_EAC_PA_INCL_VAT                      3420 non-null   float64
 37  LA_EAC_PA_INCL_VAT                       3420 non-null   float64
 38  UNIT_TRUST_EAC_PA_INCL_VAT               3420 non-null   float64
 39  GENDER_Female                            3420 non-null   bool
 40  GENDER_Male                              3420 non-null   bool
dtypes: bool(2), float64(34), int32(5)
memory usage: 982.0 KB

## Feature Selection

## Model Training

In [ ]:
#Random Forest on all the features